<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.liquid -%}
  <body>
    {{ content }}
    <script src="{{ "/assets/js/common.js" | relative_url }}"></script>
    <script>var defaultSearchDescription = '{{ site.description }}';</script>
    <script src="{{ "/assets/js/search.js" | relative_url }}"></script>
  </body>
</html>
